@media(max-width:980px) {
    .footer p {
        text-align: left;
    }


}

@media(max-width:620px) {

    .header h1 {
        margin: 0 40px 0 40px;
    }

    .input-group {
        max-width: 400px;
    }

    .input-group-text{
        width: 100px;
        
    }
    

}

@media(max-width:475px) {

    .header h1 {
        margin: 0 40px 0 40px;
    }

    .input-group {
        max-width: 300px;
    }
}


@media(max-width:390px) {

    .bn39 {

        margin: 0 10px;
        width: 4em;

    }

}